.controller.xbox {
    background-image: url("https://mathisdlrzfr-spec.github.io/risky-reels-gamepad/risky_reels_dualsense.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}
